<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->[&nbsp;<a <!-- IF  S_HAS_UNAPPROVED_POSTS or  S_HAS_REPORTS  or S_HAS_PM_REPORTS  --> class="unapproved" <!-- ENDIF --> href="{U_MCP}">{L_MCP}</a>&nbsp;]<!-- ENDIF -->
<!-- IF QUASAR_MENUPOSITION eq 'full' or QUASAR_MENUPOSITION eq 'fluid' -->
<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->

<!-- ENDIF -->
<!-- ELSE -->
<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist">
	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->
<!-- IF QUASAR_MENUPOSITION eq 'full' or QUASAR_MENUPOSITION eq 'fluid' -->
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			
			<div class="custom-textinput"><input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" value="{L_USERNAME}"/></div>
			<div class="custom-textinput"><input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" value="{L_PASSWORD}"/></div>
			<div class="custom-button"><input type="submit" name="login" value="{L_LOGIN}" class="custbutton" /></div>
			
			<!-- IF S_AUTOLOGIN_ENABLED -->
				<div style="clear:both; padding: 4px;"><label for="autologin" >{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label></div>
			<!-- ENDIF -->
			
{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->